--extra-index-url https://download.pytorch.org/whl/cpu

Flask==2.3.3
flask-cors==4.0.0
ultralytics==8.1.15
torch==2.7.1+cpu
torchvision==0.22.1+cpu
opencv-python-headless==4.8.1.78
Pillow==9.5.0
requests==2.31.0
